<div class="container-match">

  <div class="match-h1">
    <h1>Matches</h1>
  </div>

  <% if @player_one != @player_two %>
    <div class="container-card-now">
      <div class="match-card">
        <div class="match-avatar">
          <%= link_to profile_path(@player_one) do %>
            <%= cl_image_tag @player_one.avatar.key , :class => "img-preview" %>
          <% end %>
          <%= current_user.username %>
        </div>
        <div class="match-avatar">
          <%= link_to profile_path(@player_two) do %>
            <%= cl_image_tag @player_two.avatar.key , :class => "img-preview", crop: :fill %>
          <% end %>
          <%= @player_two.username %>
        </div>
      </div>
    </div>
    <%= link_to "Back to communities", communities_path, class: "btn btn-secondary form-login btn" %>
  <% else %>

    <div class="no-match">
      <h2 class="match-h2">No new matches for now</h2>
      <%= link_to "Back to communities", communities_path, class: "btn btn-secondary form-login btn" %>
    </div>

  <% end %>

  <h2 class="match-h2">Latest matches...</h2>

  <% @matches.each do |match| %>
    <div class="container-card">

      <div class="match-card">
        <div class="match-avatar">
          <%= link_to profile_path(@player_one) do %>
            <%= cl_image_tag @player_one.photo.key , :class => "img-preview" %>
          <% end %>
          <%= match.user_one.username %>
        </div>

        <div class="match-avatar">
          <%= link_to profile_path(@player_two) do %>
            <%= cl_image_tag @player_two.photo.key , :class => "img-preview", crop: :fill %>
          <% end %>
          <%= match.user_two.username %>
        </div>
      </div>

      <div class="time">
          <%= match.created_at.strftime("%Y-%m-%d") %>
      </div>
    </div>
  <% end %>
</div>
