
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">You have a match!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar" id="post-avatar" alt="avatar">
        <%# <%= cl_image_tag @player_two.photo.key, height: 200, width: 200, crop: :fill %> %>
        <%# <%= @player_two.username %> %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= link_to "See match", community_matches_path(@community), class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>

<div class="main-card card-banner" style='background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), image-url("mf.jpg")'>
  <h1 class="list-title"><%= @community.title %></h1>
  <div class="join-button">
   <%= link_to "Join Community", community_member_path, method: :post, class: "btn btn-outline-secondary" %>
  </div>
</div>
    <div class="league-main">
    </div>
<div class="main-page">
  <div class="sidebar">
    <div class="league-main">
    </div>
    <ul>
      <li><img src="https://res.cloudinary.com/yuhri/image/upload/v1630825667/lolicon_p5keax.png" class="main-league"></li>
      <li><h4><%= link_to "My Profile", profile_path(current_user) %> <h4></li>
      <li><h4> Messages <h4></li>
      <li><h4> Friends <h4></li>
      <li><h4> Matches <h4></li>
    </ul>
  </div>

  <div class="post-msg form-login">
      <% if user_signed_in? %>
    <div class="d-flex justify-content-around">
      <div class="post-form">
        <%= simple_form_for [@community, @post] do |f| %>
          <%= f.input :content %>
          <%= f.input :photo, as: :file%>
          <%= f.input :video, as: :file %>
          <%= f.submit %>
        <% end %>
      </div>
      <img src="https://res.cloudinary.com/yuhri/image/upload/v1630826048/zed_scs6zc.png" class="zed">
      <img src="https://res.cloudinary.com/yuhri/image/upload/v1630826288/vi_meozmu.png" class="vi">
      <img src="https://res.cloudinary.com/yuhri/image/upload/v1630826050/riven_z6jape.png" class="riven">
    </div>
    <hr class="hr">
    <% end %>
    <% @posts.each do |post| %>
      <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar" id="post-avatar" alt="avatar"><h6><%= current_user.username.capitalize %></h6>
      <% if post.photo %>
        <h5><%= post.content %></h5>
        <%= image_tag(post.photo, class: "post-img") if post.photo.attached?%>
      <% elsif post.video %>
        <p><%= post.content %></p>
        <%= video_tag(post.video) %>
      <% else %>
        <h5><%= post.content %></h5>
      <% end %>
      <%= link_to "Delete", post_path(post), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      <small><%= Time.now %></small>
       <%# <small class="text-right flex-shrink-0"><%= link_to 'delete', community_posts_path(post), method: :delete, data: { confirm: "Are you sure you want to remove #{post}"}, class: 'text-danger' %>
    <hr class="hr">
    <% end %>
  </div>

  <div class="stuffs">
    <!-- Button trigger modal -->
    <div>
      <button type="button" href="#" class="match-btn" data-toggle="modal" data-target="#exampleModal">FIND MATCH</button>
    </div>




      <div class="cmt-feature">
        <h4>Members</h4>
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar" id="post-avatar" alt="avatar">
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar" id="post-avatar" alt="avatar">
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar" id="post-avatar" alt="avatar">
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar" id="post-avatar" alt="avatar">
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar" id="post-avatar" alt="avatar">
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar" id="post-avatar" alt="avatar">
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar" id="post-avatar" alt="avatar">
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar" id="post-avatar" alt="avatar">
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar" id="post-avatar" alt="avatar">
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar" id="post-avatar" alt="avatar">
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar" id="post-avatar" alt="avatar">
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar" id="post-avatar" alt="avatar">
      </div>
      <div class="cmt-feature2">
      </div>
  </div>
</div>
