<h1><%= @community.title %></h1>
<% @posts.each do |post| %>
  <% if post.photo %>
    <%= image_tag(post.photo) %>
    <p><%= post.content %></p>
  <% elsif post.video %>
    <%= video_tag(post.video) %>
    <p><%= post.content %></p>
  <% else %>
    <p><%= post.content %></p>
  <% end %>
  <hr>
<% end %>

<%# <% if truevalue %>
  <%# <%= post.like += 1 %>
<%# <% end %>

<%= simple_form_for [@community, @post] do |f| %>
  <%= f.input :content %>
  <%= f.input :photo %>
  <%= f.input :video %>
  <%= f.submit %>
<% end %>
